@media screen and (max-width: 1100px) {
    .home{
        height: 100vh;
    }
    .home .textContent h1{
        font-size: 1.2rem;
    }
    .course-info .course-list{
        grid-template-columns: repeat(2, 1fr);
        padding: 3% 10% 5%;
        gap: 40px;
    }
    .campus-list{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .facilities{
        grid-template-columns: repeat(2, 1fr);
    }
    .study-info{
        height: 35vh;
    }
}
@media screen and (max-width: 600px){
    .home .header .fa{
        color: #fff;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }.home .header .fa-times{
        display: none;
        z-index: 2333;
    }

    .home .header .logo{
        width: 150px;
    }
    .home .header .navMenu{
        transition: .8s ease;
        background-color: green;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: -250px;
        flex-direction: column;
        display: flex;
        justify-content: initial;
        align-items: center;
        padding-top: 30px;
    }
    .home .header .navMenu.showmenu{
        right: 0;
    }
    .home .header .navMenu.showmenu .fa-times{
        display: block;
        z-index: 2523252;
        top: 10%;
    }
    .home .header .navMenu p{
        font-size: 12px;
        margin-top: 30px;
    }
    .home .header .navMenu p::before{
        display: none;
        padding: 0;
    }
    .home .textContent{
        padding: 1.5% 3%;
    }
    .home .textContent h1{
        font-size: 1.1rem;
        width: 80%;
        margin: 0 auto;
    }
    .home .textContent a{
        font-size: 14px;
        padding: 1% 3%;
    }
    .course-info > h1{
        font-size: 1.2rem;
        letter-spacing: 3px;
    }
    .course-info > h1::before{
        height: 3px;
    }
    .course-info > p{
        margin-top: 20px;
        font-weight: 400;
        font-size: 11px;
    }
    .course-info .course-list{
        grid-template-columns: repeat(1, 1fr);
        padding: 3% 10% 5%;
        gap: 40px;
    }
    .course-list .course h1{
        font-size: 12px;
    }
    .course-list .course p{
        font-size: 11px;
    }
    .course-info a{
        padding: 10px 10px;
        font-size: 12px;
        font-weight: 500;
    }
    .campus-info > h1{
        font-size: 1.2rem;
        letter-spacing: 3px;
    }
    .campus-info > h1::before{
        height: 3px;
    }
    .campus-info > p{
        margin-top: 20px;
        font-size: 11px;
        font-weight: 400;
    }
    .campus-list{
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
    .facilities{
        grid-template-columns: repeat(1, 1fr);
    }
    .facilities-info > h1{
        font-size: 1.2rem;
        letter-spacing: 3px;
    }
    .facilities-info > p{
        font-size: 11px;
    }
    .facility h1{
        font-size: 14px;
    }
    .facility p{
        font-size: 11px;
    }
    .testimonial-info >  h1{
        font-size: 1.2rem;
    }
    .testimonial-info > p{
        font-size: 11px;
    }
    .testimonial-list{
        display: grid;
        gap: 30px;
    }
    .testimonial{
        padding: 3%;
        height: 100px;
    }
    .testimonial h1{
        font-size: 12px;
    }
    .testimonial p{
        font-size: 10px;
    } 
    .study-info{
        height: 25vh;
    }
    .study-info h1{
        font-size: 1.2rem;
    }   
    .study-info a{
        font-size: 14px;
        padding: 1% 3%;
    }
    .about-info p{
        font-size: 11px;
        font-weight: 300;
    }
    .about-hod > h1{
        font-size: 1.2rem;
        width: 60%;
        margin: 0 auto;
    }
    .hod-info{
        gap: 10px;
    }
    .hod-info h4{
        font-size: 14px;
    }
    .hod-info p{
        font-size: 11px;
    }
    .lecturers-section > h1{
        font-size: 1.2rem;
        margin: 0 auto;
        width: 80%;
    }
    .lecturer-info .textContent h1{
        font-size: 12px;
        text-align: left;
    }
    .lecturer-info .textContent p{
        font-size: 11px;
        text-align: left;
    }
    .time-table-info > h1{
        font-size: 1.5rem;
    }
    .time-table-info td{
        font-size: 14px;
    }
}