@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.home{
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("/assets/images/admin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}
.home .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.5% 5%;
    position: relative;
}
.home .header .fa{
    display: none;
}
.home .header .logo{
    width: 200px;
}
.home .header img{
    width: 100%;
}
.home .header .navMenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 50%;
    flex-wrap: wrap;
}
:root{
    --bgcolor: #ff0;
    --opaq: 0;
    --changeDir: 0%;
}

.gray{
    display: inline-block;
    font-size: 16px;
    position: relative;
    padding-bottom: 7px;
    transition: .8s ease;
    overflow: hidden;
}
.gray::before{
    content: "";
    width: 35%;
    position: absolute;
    bottom: 0;
    left: var(--changeDir);
    border-radius: 3px;
    height: 7px;
    opacity: var(--opaq);
    background-color: var(--bgcolor);
    transition: .8s ease;
}
.home .header .navMenu a{
    color: #fff;
    text-decoration: none;
    transition: .78s ease;
}
.home .header .navMenu a:hover{
    color: green;
}
#undernav{
    position: absolute;
    height: 10px;
    bottom: 0;
    left: 0;
    width: 40%;
    background-color: blue;
    display: block;
    transition: 1s ease-in-out;
    border-radius: 10px;
}
.home .textContent{
    padding: 2.5% 0%;
    text-align: center;
    color: #fff;
    display: grid;
    gap: 20px;
    margin-top: 50px;
}
.home .textContent h1{
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;
}
.home .textContent p{
    font-size: 14px;
    font-weight: 500;
    width: 70%;
    margin: 0 auto;
    word-break: break-all;
    word-wrap: break-word;
}
.home .textContent a{
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}
.course-info{
    text-align: center;
    padding: 7% 7% 7%;
}
.course-info > h1{
    color: green;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}
.course-info > h1::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 5px;
    bottom: 0;
    left: 10%;
    background-color: #ff0;
}
.course-info > p{
    margin-top: 40px;
    font-size: 14px;
    font-weight: bold;
}
.course-info .course-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 1% 7% 5%;
}
.course-list .course{
    background-color: green;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5% 5% 10%;
    display: grid;
    gap: 20px;
}
.course-list .course h1{
    font-size: 1rem;
    color: #ff0;
}
.course-list .course p{
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}
.course-info a{
    color: green;
    font-style: italic;
    font-size: 14px;
    padding: 15px 40px;
    border: 1px solid green;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
.course-info a span{
    font-weight: 900;
    font-size: 20px;
}
.campus-info{
    text-align: center;
    padding: 0 10% 10%;
}
.campus-info > h1{
    color: green;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}
.campus-info > h1::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 5px;
    bottom: 0;
    left: 10%;
    background-color: #ff0;
}
.campus-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 0 0;
}
.campus-list .campus img{
    width: 100%;
    border-radius: 20px;
    display: block;
}
.campus-list .campus h1{
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
    color: green;
    position: absolute;
    bottom: 0%;
    opacity: 0;
    left: 5%;
    right: 5%;
    color: #fff; 
    transition: .8s ease;
}
.campus-info > p{
    font-size: 14px;
    font-weight: 500;
    margin: 40px auto 0;
}
.campus{
    position: relative;
    border-radius: 20px;
}
.campus .yellow-layer{
    background-color: #ff09;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    display: none;
    transition: .7s ease;
}
.campus:hover .yellow-layer{
    display: block;
}
.campus:hover h1{
    opacity: .8;
    bottom: 150px;
}
.facilities-info{
    text-align: center;
}
.facilities-info >  h1{
    color: green;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}
.facilities-info > h1::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 5px;
    bottom: 0;
    left: 10%;
    background-color: #ff0;
}
.facilities-info > p{
    font-size: 14px;
    font-weight: 500;
    width: 80%;
    margin: 40px auto 0;
}
.facilities{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 2% 10% 5%;
}
.facility{
    flex-basis: 30%;
    display: grid;
}
.facility img{
    width: 100%;
    border-radius: 20px;
    display: block;
}
.facility h1{
    padding: 10px 0;
    font-size: 1.2rem;
    color: green;
    font-weight: 600;
    text-align: left;
}
.facility p{
    font-size: 16px;
    text-align: left;
}
.testimonial-info{
    text-align: center;
    padding-bottom: 5%;
}
.testimonial-info >  h1{
    color: green;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}
.testimonial-info > h1::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 5px;
    bottom: 0;
    left: 10%;
    background-color: #ff0;
}
.testimonial-info > p{
    font-size: 14px;
    font-weight: 500;
    width: 80%;
    margin: 40px auto 0;
}
.testimonial-list{
    width: 80%;
    margin: 0 auto;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.testimonial{
    background-color: green;
    flex-basis: 48%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    height: 200px;
}
.testimonial img{
    width: 50px;
    border-radius: 50%;
    align-self: first baseline;
}
.testimonial p{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align:left;
}
.testimonial h1{
    color: #ff0;
    font-size: 1.2rem;
}
.testimonial .textContent{
    padding: 4%;
}
.study-section{
    padding-bottom: 5%;
}
.study-info{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/images/study.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 6% 10px 40px;
    border-radius: 20px;
}
.study-info h1{
    padding-bottom: 40px;
}
.study-info a{
    color: #fff;
    border: 1px solid #fff;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}
.about-info{
    background-color: green;
    color: #fff;
    text-align: center;
    display: grid;
    gap: 30px;
    padding: 40px 0;
}
.about-info p{
    font-size: 14px;
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
}
.about-hod{
    padding: 5% 0;
    text-align: center;
}
.about-hod > h1{ 
    color: green;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}
.hod-info{
    background-color: green;
    width: 80%;
    padding: 3% 10px;
    border-radius: 20px;
    margin: 0 auto;
    color: #fff;
    display: grid;
    gap: 20px;
}
.hod-info h4{
    color: #ff0;
}
.lecturers-section{
    padding-top: 20px;
    text-align: center;
}
.lecturers-section > h1{
    color: green;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 5px;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}
.lecturers-section > h1::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 5px;
    bottom: 0;
    left: 10%;
    background-color: #ff0;
}
.lecturers-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 30px;
    padding: 7%;
}
.lecturer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 5%;
    border-radius: 20px;
    flex-wrap: wrap;
}
.lecturer-info img{
    width: 50px;
    align-self: first baseline;
    border-radius: 50%;
}
.lecturer-info .textContent{
    padding: 0 10px;
    align-self: first baseline;
    text-align: justify;
}
.lecturer-info .textContent h1{
    font-size: 16px;
    color: #ff0;
    font-weight: 600;
}
.lecturer-info .textContent p{
    color: #fff;
}
.time-table-section{
    padding-bottom: 7%;
}
.time-table-info{
    padding: 20px 0 0;
}
.time-table-info > h1{
    text-align: center;
    font-size: 2rem;
}
.time-table-info table{
    width: 100%;
    overflow-x: auto;
}
.time-table-info th{
    height: 50px;
    color: green;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.time-table-info td{
    padding: 5px 5px 5px 10px;
}
.time-table-info table, .time-table-info th, .time-table-info td{
    border: 1px solid green;
}
.space{
    height: 40px;
}
